.body{
  background: url('../../assets/images/background.png');
  margin: 0;
  position: relative;
  font-family: PT Sans;
  display: flex;
  flex-flow: column wrap;
  min-height: 100%;
}

.body.modal-dialog-opened{
  filter: blur(2px);
}

header, footer{
  height: 50px;
  background-image: linear-gradient(to top, rgba(40, 133, 117, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
  background-color: rgb(40, 133, 117);
  line-height: 50px;
  z-index: 1;
}

header{
  border-bottom: 3px solid #58ba96;
  width: 100%;
  align-self: flex-start;
}

footer{
  width: 100%;
  text-align: center;
  align-self: flex-end;
}

main{
  padding: 0 15px 50px;
  text-align: left;
  margin: 0 auto;
  max-width: 1140px;
  background: rgba(0,0,0, 0.4);
  min-height: calc(100% - 153px);
  flex-grow: 99;
  min-width: 80%;
}

.header-menu{
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  text-align: right;
}

.bag-icon{
  content: url('../../assets/images/bag-icon.png');
  float: left;
  margin: 13px 30px;
  cursor: pointer;
}

.logout-icon{
  content: url('../../assets/images/logout-icon.png');
  vertical-align: middle;
  margin: 0 30px 0 10px;
  cursor: pointer;
}

.user-greet, footer{
  color: #FFFFFF;
  font-size: 15px;
}

i{
  font-style: italic;
  text-transform: capitalize;
}

@media (max-width: 1000px) {
  main{
    max-width: 780px;
  }

  .header-menu{
    max-width: 840px;
  }
}

@media (max-width: 800px) {
  main{
    max-width: 480px;
  }

  .header-menu{
    max-width: 540px;
  }
}
