
  <div class="modal-header">
    <p>Edit “Active Coat Lorem Ipsum Dolor Sit Amet Consectetur or buy this product with our credit cards system</p>
  </div>
  <div class="modal-body">
    <div class="modal-content">
      <div class="product-desc-block">
        <div class="desc-block">
          <p class="title">Name:</p>
          <input type="text" name="product-name" class="product-name-input">
        </div>
        <div class="desc-block">
          <span class="title">Category:</span>
          <select class="select-list category-select-list white">
            <option value="jeans">Jeans</option>
            <option value="shirts">Shirts</option>
            <option value="shoes">Shoes</option>
            <option value="accessories">Accessories</option>
          </select>
        </div>
        <div class="gender-type desc-block">
          <span class="title">Gender:</span>
          <input type="radio" class="radio" name="gender" value="male" id="male">
          <label for="male">Man</label>
          <input type="radio" name="gender" class="radio" value="female" id="female">
          <label for="female">Woman</label>
          <input type="radio" name="gender" class="radio" value="other" id="other">
          <label for="other">Unisex</label>
        </div>
        <div class="desc-block product-description">
          <p class="title">Description:</p>
          <textarea type="text" name="description" class="product-decs-input"></textarea>
        </div>
      </div>
      <div class="product-params-block">
        <div class="param-block">
          <p class="title">Link to image:</p>
          <input type="text" name="linkToImage" class="link-to-image">
          <img src="images/product-2.png" class="image-preview">
        </div>
        <div class="param-block">
          <p class="title">Price:</p>
          <input type="text" name="productPrice" class="product-price-input">
        </div>
        <div class="param-block">
          <span class="title">Rating:</span>
          <select class="select-list product-rating-list white">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
    </div>
    <div class="buttons-block">
      <button for="edit_product_modal" class="btn secondary-btn cancel-edit-btn modal-open-close-button">Cancel</button>
      <button for="edit_product_modal" class="btn primary-btn edit-product-btn modal-open-close-button">Submit</button>
    </div>
  </div>
