<app-modal-dialog [title]="modalTitle">
  <form [formGroup]="productForm" class="edit-product-form" (submit)="onSubmit(productForm.value)">
    <div class="modal-content">
      <div class="product-desc-block">
        <div class="desc-block">
          <p class="title">Name</p>
          <input type="text" name="product-name" class="product-name-input" [formControl]="productForm.controls['name']">
        </div>
        <div class="desc-block">
          <span class="title">Category:</span>
          <select class="select-list category-select-list green" [formControl]="productForm.controls['category']">
          <option *ngFor="let category of categories | async" [ngValue]="category">{{category.name}}</option>
        </select>
        </div>
        <div class="gender-type desc-block">
          <input type="radio" class="radio" name="gender" [value]="0" id="male" [formControl]="productForm.controls['gender']">
          <label for="male">Man</label>
          <input type="radio" name="gender" class="radio" [value]="1" id="female" [formControl]="productForm.controls['gender']">
          <label for="female">Woman</label>
          <input type="radio" name="gender" class="radio" [value]="2" id="other" [formControl]="productForm.controls['gender']">
          <label for="other">Unisex</label>
        </div>
        <div class="desc-block product-description">
          <p class="title">Description:</p>
          <textarea type="text" name="description" class="product-decs-input" [formControl]="productForm.controls['description']"></textarea>
        </div>
      </div>
      <div class="product-params-block">
        <div class="param-block">
          <p class="title">Link to image:</p>
          <input type="text" name="linkToImage" class="link-to-image" [formControl]="productForm.controls['linkToImage']">
          <img [src]="productForm.controls['linkToImage'].value" class="image-preview">
        </div>
        <div class="param-block">
          <p class="title">Price:</p>
          <input type="text" name="productPrice" class="product-price-input" [formControl]="productForm.controls['price']">
        </div>
        <div class="param-block">
          <span class="title">Rating:</span>
          <select class="select-list product-rating-list white" [formControl]="productForm.controls['rating']">
            <option *ngFor="let number of [1,2,3,4,5]" [value]="number">{{number}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="buttons-block">
      <button class="btn secondary-btn cancel-edit-btn modal-open-close-button">Cancel</button>
      <button type="submit" class="btn primary-btn edit-product-btn modal-open-close-button">Submit</button>
    </div>
  </form>
</app-modal-dialog>
