<div class="body" [class.modal-dialog-opened]="isModalOpened">
  <header>
    <div class="header-menu">
      <i class="bag-icon"></i>
      <span class="user-greet">Hello, <i>{{userName}}</i></span>
      <i class="logout-icon" (click)="logout($event)"></i>
    </div>
  </header>
  <main>
  <router-outlet></router-outlet>
  </main>
  <footer>
    Copyright “Demo Shop”, 2017
  </footer>
</div>
<div class="modal-wrap" aria-hidden="true" role="dialog" [class.open]="isModalOpened">
  <template #modalDialog></template>
</div>
