.products-list{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.products-list .product-tile{
  vertical-align: top;
  height: 534px;
  background: #fdfdfd url('../images/product-tile-background.png');
  text-align: right;
  font-size: 0;
  width: calc(33.33% - 30px);
  position: relative;
  margin: 15px;
  display: flex;
  flex-flow: column nowrap;
}

.product-details{
  margin: 0 20px;
  height: 208px;
  text-align: center;
}

.product-description{
  height: 135px;
  overflow: auto;
  font-size: 14px;
  text-align: left;
  margin: 15px 0;
  line-height: 18px;
}

.product-name{
  max-height: 50px;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
  text-align: left;
  border-bottom: 2px solid #2ec5cc;
}

.product-price{
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 20px;
  line-height: 35px;
}

.product-price .currency{
  color: #288575;
}

.product-tile .show-more{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/**
	FINISH
	Products list and product tiles styles
**/
/**
	START
	Filters box styles
**/
.filters-container{
  text-align: right;
  padding: 20px 0;
  position: relative;
  vertical-align: middle;
  line-height: 35px;
}

.filters-container .filters-btn{
  display: inline-block;
  position: relative;
  width: 140px;
  text-align: center;
}

.filters-container .filters-btn:hover,
.filters-container .filters-btn.active-filters{
  background: linear-gradient(to top, #3fc6cc 0%, #278473 100%);
}

.filters-container:has( button){
  display: none;
}

.filters:before{
  position: absolute;
  display: block;
  content: url(../images/tooltip-triangle.png);
  top: 0;
  right: 310px;
  width: 16px;
  height: 16px;
}

.filters-container .filters-btn + .filters-box {
  visibility: hidden;
  text-align: center;
  position: absolute;
  z-index: 1;
  opacity: 0;
  right: 0;
  top: 55px;
  transition: opacity 1s;
  padding-top: 10px;
  width: 100%;
  max-width: 790px;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  line-height: normal;
}

.filters-container .filters-btn:hover + .filters-box,
.filters-container .filters-box:hover {
  visibility: visible;
  opacity: 1;
}

.filters{
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}

.product-params-filters{
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #2e8879;
  font-size: 0;
}

.product-range-filters{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
}

.filter{
  font-size: 14px;
  font-family: PT Sans, serif, sans-serif;
  text-align: left;
  vertical-align: top;
  display: inline-block;
}

.product-params-filters .category-select-list{
  width: 100%;
}

.product-range-filters .filter{
  margin-right: 19px;
}

.product-params-filters .availability-filter{
  width: 25%;
}

.product-params-filters .gender-filter{
  width: 40%;
}

.product-params-filters .category-filter{
  width: 35%;
}

.product-range-filters .rating-filter{
  width: 25%;
}

.product-range-filters .price-filter{
  width: 65%;
}

.filter-title{
  font-size: 12px;
  color: #000000;
  font-family: PT Sans, serif, sans-serif;
  display: inline-block;
}

.availability-filter .filter-title,
.gender-filter .filter-title{
  padding-bottom: 5px;
}

/**
	substart
	searchbar styles
**/
.searchbar{
  height: 35px;
  width: 230px;
  border-radius: 5px;
  border: 3px solid rgba(0, 0, 0, 0);
  outline: 0;
  vertical-align: top;
  padding: 0 40px 0 15px;
  font-size: 14px;
  margin:0 -20px 0 15px;
}

.searchbar::clear {
  display: none;
}

.searchbar::placeholder{
  font-style: italic;
  font-family: PT Sans, serif, sans-serif;
  color: #999999;
}

.search-icon{
  background: url('../images/search-icon.png');
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.searchbar:focus ~ .search-button .search-icon{
  background: url('../images/focused-search-icon.png');
}

.searchbar:focus{
  border: 3px solid rgba(41, 136, 121, 0.4);
}

.search-button{
  position: relative;
  right: 15px;
  background: none;
  border: none;
  padding: 0;
  vertical-align: middle;
}

/**
	subfinish
	searchbar styles
**/
/**
	FINISH
	Filters box styles
**/

@media (max-width: 800px) {
  .filters-container .filters-btn{
    float: left;
  }

  .product-params-filters{
    height: auto;
    border: none;
  }

  .product-params-filters .filter,
  .product-range-filters .filter{
    display: block;
    width: 100%;
    height: 70px;
    padding-top: 15px;
    border-bottom: 1px solid #2e8879;
  }

  .product-range-filters .filter:last-child{
    border: none;
  }

  .product-range-filters{
    display: block;
    height: auto;
  }

  .product-range-filters .rating-filter .slider{
    max-width: 237px;
  }

  .product-range-filters .price-filter .slider{
    max-width: 420px;
    margin-right: 19px;
  }

  .filters:before{
    left: 50px;
  }

  .product-params-filters .category-select-list{
    max-width: 237px;
  }
}
