.product-tile{
  vertical-align: top;
  height: 534px;
  background: #fdfdfd url('../../assets/images/product-tile-background.png');
  text-align: right;
  font-size: 0;
  width: calc(33.33% - 30px);
  position: relative;
  margin: 15px;
  display: flex;
  flex-flow: column nowrap;
}

.product-tile .product-details{
  margin: 0 20px;
  height: 208px;
  text-align: center;
}

.product-tile .product-description{
  height: 135px;
  overflow: auto;
  font-size: 14px;
  text-align: left;
  margin: 15px 0;
  line-height: 18px;
}

.product-tile .product-name{
  max-height: 50px;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 0;
  text-align: left;
  border-bottom: 2px solid #2ec5cc;
}

.product-tile .product-price{
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  left: 20px;
  line-height: 35px;
}

.product-tile .product-price .currency{
  color: #288575;
}

.product-tile .show-more{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 90px;
}
.product-tile .delete-product {
  position: absolute;
  bottom: 20px;
  width: 90px;
  right: 120px;
}

.product-tile .product-img{
  position: relative;
}

.product-tile .product-img img{
  width: 100%;
}

.product-tile .product-img .product-rating{
  position: absolute;
  bottom: 0;
  padding-left: 15px;
  width: calc(100% - 15px);
  background: rgba(0, 0, 0, 0.7);
  height: 30px;
  text-align: left;
}

.product-tile .rating-start{
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 2px;
  margin: 7px 2px;
}

.gold-star{
  background: url(../../assets/images/gold-star.png);
}

.star{
  background: url('../../assets/images/star.png');
}
@media (max-width: 1000px) {
  .product-tile{
    width: calc(50% - 30px);
  }

  .product-tile .product-details{
    height: 180px;
  }
}

@media (max-width: 800px) {
  .product-tile .product-description {
    height: auto;
  }

  .product-tile {
    width: 100%;
    display: block;
    height: auto;
  }

  .product-tile .product-details {
    height: auto;
    padding-bottom: 55px;
  }
}
