<div class="product-img">
  <img src="{{product.image}}">
  <div class="product-rating">
    <i *ngFor="let number of [1,2,3,4,5]"
       [ngClass]="product.rating >= number ? 'gold-star' : 'star'"
       class="rating-start"></i>
  </div>
</div>
<div class="product-details">
  <p class="product-name">{{product.name}}</p>
  <p class="product-description">
    {{product.description}}
  </p>
  <span class="product-price"><i class="currency">$</i>{{product.cost}}</span>
  <button class="btn secondary-btn delete-product">Delete</button>
  <a class="btn primary-btn show-more"
    routerLink="../product-page/{{product.id}}"
    routerLinkActive="true">Show more</a>
</div>
