<div class="navigation-bar">
  <span class="back-link navigation-link"><a
     routerLink="/main-layout/product-list"
     routerLinkActive="true">Back</a></span>
  <span class="category-path navigation-link">Category: <a href="/">Man / Acive wear</a></span>
</div>
<div class="product-block" *ngIf="product">
  <div class="product-img">
    <img src="{{product.image}}">
    <div class="product-rating">
      <i *ngFor="let number of [1,2,3,4,5]"
         [ngClass]="product.rating >= number ? 'gold-star' : 'star'"
         class="rating-start"></i>
    </div>
  </div>
  <div class="product-details">
    <p class="product-name">{{product.name}}</p>
    <div class="product-description">
      {{product.description}}
      <p *ngIf="canManageProducts" class="manager-links">
        You can
        <a href="#" (click)="increaseProductCount($event)">add 5 more</a>
        . You can also
        <label class="edit-product-link" (click)="openEditModal($event)">edit</label>
        them.</p>
    </div>
    <p class="out-of-stock-msg" *ngIf="isProductOutOfStock">This item is out of stock.</p>
    <span class="product-price"><i class="currency">$</i>{{product.cost}}<span class="product-qty">(10 items left)</span></span>
    <button for="success_purchased_modal" class="btn primary-btn buy-product-btn modal-open-close-button" [disabled]="isProductOutOfStock" (click)="onBuyProduct($event)">Buy</button>
  </div>
</div>
