<div class="navigation-bar">
  <span class="back-link navigation-link"><a href="/">Back</a></span>
  <span class="category-path navigation-link">Category: <a href="/">Man / Acive wear</a></span>
</div>
<div class="product-block" *ngIf="product">
  <div class="product-img">
    <img src="{{product.image}}">
    <div class="product-rating">
      <i *ngFor="let number of [1,2,3,4,5]"
         [ngClass]="product.rating >= number ? 'gold-star' : 'star'"
         class="rating-start"></i>
    </div>
  </div>
  <div class="product-details">
    <p class="product-name">{{product.name}}</p>
    <div class="product-description">
      {{product.description}}
      <p class="manager-links">
        You can
        <a href="#">add 5 more</a>
        . You can also
        <label class="edit-product-link" (click)="openEditModal()">edit</label>
        or
        <label class="delete-product-link">delete</label>
        them.</p>
    </div>
    <span class="product-price"><i class="currency">$</i>{{product.cost}}<span class="product-qty">(10 items left)</span></span>
    <button for="success_purchased_modal" class="btn primary-btn buy-product-btn modal-open-close-button">Buy</button>
  </div>
</div>
