<div class="product-list-header-container">
  <button class="btn primary-btn add-product-btn" (click)="addProduct($event)">Add Product</button>
  <button class="btn primary-btn filters-btn" (click)="toggleFilters()">
    Filter options
  </button>
  <div class="filters-box" [class.open]="showFilters">
    <form [formGroup]="filterForm" novalidate>
      <div class="filters">
        <div class="product-params-filters">
          <div class="availability-filter filter">
            <span class="filter-title">Availability:</span><br>
            <input type="checkbox" class="checkbox" id="checkbox" [formControl]="filterForm.controls['availableOnly']"/>
            <label for="checkbox">Available only</label>
          </div>
          <div class="gender-filter filter">
            <span class="filter-title">Gender:</span><br>
            <span *ngFor="let key of genderOptions; let i = index">
              <input type="radio" class="radio" name="filter-gender" [value]="key" id="{{i}}" [formControl]="filterForm.controls['gender']">
              <label for={{i}}>{{key}}</label>
            </span>
            <input type="radio" class="radio" name="filter-gender" value="All" id="all" [formControl]="filterForm.controls['gender']">
            <label for="all">All</label>
          </div>
          <div class="category-filter filter">
            <span class="filter-title">Category:</span><br>
            <select class="select-list category-select-list green" [formControl]="filterForm.controls['category']">
              <option [ngValue]="initialCategory">{{initialCategory.name}}</option>
              <option *ngFor="let category of categories | async" [ngValue]="category">{{category.name}}</option>
            </select>
          </div>
        </div>
        <div class="product-range-filters">
          <div class="rating-filter filter">
            <span class="filter-title">Rating:</span><br>
            <ion-range-slider class="slider rating-slider"
                            type="int"
                            [min]="ratingRange.from"
                            [max]="ratingRange.to"
                            [from]="filterForm.controls['rating'].from"
                            [to]="filterForm.controls['rating'].to"
                            (onFinish)="ratingRangeChanged($event)"></ion-range-slider>
          </div>
          <div class="price-filter filter">
            <span class="filter-title">Price:</span><br>
            <ion-range-slider class="slider price-slider"
                            type="int"
                            [min]="priceRange.from"
                            [max]="priceRange.to"
                            [from]="filterForm.controls['price'].from"
                            [to]="filterForm.controls['price'].to"
                            (onFinish)="priceRangeChanged($event)"></ion-range-slider>
          </div>
        </div>
      </div>
    </form>
  </div>
  <input #input type="search" class="searchbar" placeholder="Filter by text..." (keyup)="filterByName(input)"><!--
					--><button class="search-button" type="submit"><i class="search-icon"></i></button>
</div>
